@import "tailwindcss";
@font-face {
  font-family: "pricedown";
  src: url("./pricedown.otf");
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}

.download:hover {
  cursor: pointer;
  background-color: greenyellow;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 55px greenyellow;
}
